*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  margin:0;
  padding:0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    #eff2fb 100%,
    #abaeb7 100%,
    #2d55b4 100%
  );
}

.grid-container{
  display:grid;
  grid-template-columns: 220px 1fr 1fr 1fr;
  grid-template-rows:0.2fr 3fr;
  grid-template-areas:
      'sidebar header header header'
      'sidebar index index index';
  height: 100vh;
}